.sub-menu 
{ 
  z-index: 100000;
  display: none; 
  margin-bottom: 0;
}

.sub-menu ul
{ 
  margin-bottom: 0;
} 
.account:focus ~ .sub-menu, 
.account:active ~ .sub-menu, 
.sub-menu:hover 
{ 
  display: flex; 
  flex-direction: column;
  position: absolute;
  margin-bottom: 0;
  margin-left: 35px;
  margin-top: -0.3%;
  background-color: rgb(48, 46, 46);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.sub-menu li {
  display: block;
  opacity: 1;
  margin-bottom: 5px;
}
.navbar-menu li ul{
  padding: 0 0 0 0; 
}

.navbar-wrap ul{
  margin-bottom: 0;
}
.navbar-menu .sub-menu li a{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-navbar{
	width: 100%;
	height: 70px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
	background-color: rgb(48, 46, 46)
}
.container-navbar {
	height: inherit;
	display: flex;
	justify-content: space-between;
	align-items:center;
  max-width: 1170px;
  margin:auto;
}
.navbar-menu li{
	display: inline-block;
}
.navbar-menu li a{
	display: inline-block;
	color: white;
	opacity: 0.8;
	text-decoration: none;
	padding: 10px;
	transition: all .08s ease-in-out ;
	margin-top: 15px;

}
 li a:hover{
	opacity: 1;
	
}

.navbar-wrap{
	display: flex;
	flex-flow: row nowrap;
}
.navbar-menu .account{
	margin-left: 35px;
	padding: 10px 25px;
	background-color: yellow ;
	border-radius: 100px;
	color: black;
  opacity: 1;
	text-decoration: none;
	box-shadow: 0 4px 6px rgba(255, 127, 80, .2);
	transition: all .1s ease-in-out;
	margin-top: 15px;
	margin-bottom: 15px;
	
}
.navbar-menu .account:hover{
	transform: scale(1.04);
	color: black;
	box-shadow: 0 9px 9px rgba(225, 225, 0, 0.4);
}
.navbar-brand{
	font-weight:700 ;
	font-size: 25px;
	text-decoration: none;
	color:white;
  transition: 0.7s;
	
}
.navbar-brand:hover{
	color: yellow;
	transition: all .08s ease-in-out ;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.container-footer{
  max-width: 1170px;
  margin:auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
  background-color: #24262b;
  padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
  z-index: 1;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: yellow;
  height: 2px;
  box-sizing: border-box;
  width: 25%;
}

.footer-col ul{
  padding: 0 0 0 0 ;
}

.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}

@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}

@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}



.footer_bg {
  bottom: 0;
  background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEigB8iI5tb8WSVBuVUGc9UjjB8O0708X7Fdic_4O1LT4CmLHoiwhanLXiRhe82yw0R7LgACQ2IhZaTY0hhmGi0gYp_Ynb49CVzfmXtYHUVKgXXpWvJ_oYT8cB4vzsnJLe3iCwuzj-w6PeYq_JaHmy_CoGoa6nw0FBo-2xLdOPvsLTh_fmYH2xhkaZ-OGQ/s16000/footer_bg.png") no-repeat scroll center 0;
  width: 100%;
  height: 266px;
}

.footer_bg .footer_bg_one {
  background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEia0PYPxwT5ifToyP3SNZeQWfJEWrUENYA5IXM6sN5vLwAKvaJS1pQVu8mOFFUa_ET4JuHNTFAxKURFerJYHDUWXLXl1vDofYXuij45JZelYOjEFoCOn7E6Vxu0fwV7ACPzArcno1rYuVxGB7JY6G7__e4_KZW4lTYIaHSLVaVLzklZBLZnQw047oq5-Q/s16000/volks.gif") no-repeat center center;
  width: 330px;
  height: 105px;
  background-size:100%;
  position:relative;
  bottom: -60%;
  left: 30%;
  -webkit-animation: myfirst 15s linear infinite;
  animation: myfirst 15s linear infinite;
}



@-moz-keyframes myfirst {
0% {
  left: -25%;
}
100% {
  left: 74%;
}
}

@-webkit-keyframes myfirst {
0% {
  left: -25%;
}
100% {
  left: 74%;
}
}

@keyframes myfirst {
0% {
  left: -25%;
}
100% {
  left: 74%;
}
}
@media(max-width:600px){
  @-moz-keyframes myfirst {
    0% {
      left: -25%;
    }
    100% {
      left: 20%;
    }
    }
    
    @-webkit-keyframes myfirst {
    0% {
      left: -25%;
    }
    100% {
      left: 20%;
    }
    }
    
    @keyframes myfirst {
    0% {
      left: -25%;
    }
    100% {
      left: 20%;
    }
    }
}
.box{
  display: flex;
  margin-left: 10px;
  align-items: center;
  position: relative;
}

.box .input {
  width: 70px;
  height: 40px;
  background: none;
  border: 3px solid #ffd52d;
  border-radius: 50px;
  box-sizing: border-box;
  font-size: 15px;
  color: #ffd52d;
  outline: none;
  transition: .5s;
}

.box:hover input{
  width: 300px;
  background: #3b3640;
  border-radius: 10px;
}
.box i{
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(-50%,-50%);
  font-size: 25px;
  color: #ffd52d;
  transition: .2s;
}
.box:hover i{
  opacity: 0;
  z-index: -1;
}

.content-hidden{
	display: none;
}

nav li:last-child {
  margin-right: 0;
}

@media screen and (max-width: 600px) {
  nav{
    z-index: 999999;
  }
  nav ul {
    flex-direction: column;
    display: none;
    position: absolute;
    top: 6vh;
    left: 0;
    right: 0;
    background-color: #333;
  }

  nav li {
    width: 100%;
    margin-right: 0;
  }

  nav li:last-child {
    margin-bottom: 20px;
  }
  .navbar-navbar{
    height: 6vh;
  }
  nav a {
    color: white;
    padding: 14px 16px;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  nav ul.show-menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 40%;
  }
  .box{
    margin-right: 10px;
  }
  .box:hover input{
    width:200px;
  }
}

.hamburger {
cursor: pointer;
 display: none;
}

.line {
width: 30px;
height: 3px;
background-color: #fff;
margin: 5px 0;
transition: all 0.3s ease;
}

.active .line:nth-child(1) {
transform: rotate(-45deg) translate(-5px, 6px);
}

.active .line:nth-child(2) {
opacity: 0;
}

.active .line:nth-child(3) {
transform: rotate(45deg) translate(-5px, -6px);
}
@media(max-width:600px){
.hamburger {
cursor: pointer;
  display: block;
  margin: auto 10px;
}
}